@section Scripts
{
    <script type="text/javascript">

        $(function () {

            $('#dtSkill').DataTable(
                {
                    "bFilter": false,
                    "bInfo": false,
                    "bPaginate": false,
                    "processing": true,
                    "serverSide": true,
                    "sAjaxDataProp": "data",
                    "ajax":
                        {
                            "url": "/Skill/GetSkills"

                        },
                    "type": "GET",
                    "columns": [

                   { "data": "Description" },

                    { "data": "Years" },


                    ]
                }

            );

        });

    </script>
}
@{
    ViewBag.Title = "Skills";
}

<h2>Technologies</h2>




<table class="table table-striped table-bordered" String id="dtSkill" cellspacing="0">

    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Años</th>
        </tr>
    </thead>

</table>