@section Scripts
{
    <script type="text/javascript">

        $(function () {
           
            $('#dtSkill').DataTable(
                {
                    "processing": true,

                    "serverSide": true,
                    "sAjaxDataProp": "data",
                    "ajax":
                        {
                            "url": "/Skill/GetSkills"

                        },
                    "type": "GET",
                    "columns": [

                   { "data": "Descripcion" },

                    { "data": "Anios" },


                    ]
                }

            );

        });

    </script>
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>




<table class="display" id="dtSkill" cellspacing="0">

    <thead>
        <tr>
            <th>Descripcion</th>
            <th>Años</th>
        </tr>
    </thead>

</table>